<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/vendor/green-audio-player.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/odometer-theme-default.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="/assets/css/app.css">

</head>

<body class="sticky-header">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->
    <a href="#main-wrapper" id="backto-top" class="back-to-top">
        <i class="far fa-angle-double-up"></i>
    </a>

    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->

    <div class="my_switcher d-none d-lg-block">
        <ul>
            <li title="Light Mode">
                <a href="javascript:void(0)" class="setColor light" data-theme="light">
                    <i class="fal fa-lightbulb-on"></i>
                </a>
            </li>
            <li title="Dark Mode">
                <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
                    <i class="fas fa-moon"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id="main-wrapper" class="main-wrapper">

        <!--=====================================-->
        <!--=        Header Area Start       	=-->
        <!--=====================================-->
        <%- include('header') %>
        <!--=====================================-->
        <!--=       Breadcrumb Area Start       =-->
        <!--=====================================-->
        <div class="breadcrum-area breadcrumb-banner" style="padding-bottom: 7%;">
            <div class="container">
                <div class="section-heading heading-left" data-sal="slide-right" data-sal-duration="1000" data-sal-delay="300">
                    <h1 class="title h2">One of the Fastest-Growing Digital Pioneers</h1>
                    <p>Crafting exceptional web and mobile solutions that empower businesses globally.</p>
                </div>
                <!-- <div class="banner-thumbnail thumbnail-4" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="400">
                    <img src="/assets/media/banner/banner-thumb-3.png" alt="Illustration">
                </div> -->
            </div>
            <ul class="shape-group-8 list-unstyled">
                <li class="shape shape-1" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100">
                    <img src="/assets/media/others/bubble-9.png" alt="Bubble">
                </li>
                <li class="shape shape-2" data-sal="slide-left" data-sal-duration="500" data-sal-delay="200">
                    <img src="/assets/media/others/bubble-22.png" alt="Bubble">
                </li>
                <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300">
                    <img src="/assets/media/others/line-4.png" alt="Line">
                </li>
            </ul>
        </div>
        <!--=====================================-->
        <!--=       About  Area Start        =-->
        <!--=====================================-->
        <section class="section section-padding case-study-featured-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-6">
                        <div class="case-study-featured-thumb text-start">
                            <img src="/assets/media/others/case-study-4.png" alt="travel">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="case-study-featured">
                            <div class="section-heading heading-left">
                                <span class="subtitle">Who we are</span>
                                <h2 class="title">Empowering Innovators Across the Globe</h2>
                                <p>At the heart of our mission is a commitment to empower innovators and thinkers who are dedicated to changing the world. We provide robust, scalable software solutions that simplify complex challenges and amplify the impact of each initiative. By equipping leaders with the right tools, we help accelerate the journey from idea to implementation, ensuring that every project can reach its highest potential and make a meaningful difference.</p>
                                <a href="/services" class="axil-btn btn-fill-primary btn-large">Learn More</a>
                            </div>
                            <div class="case-study-counterup">
                                <div class="single-counterup">
                                    <h2 class="count-number">
                                        <span class="number count" data-count="10">10</span>
                                        <span class="symbol">+</span>
                                    </h2>
                                    <span class="counter-title">Years on the market</span>
                                </div>
                                <div class="single-counterup">
                                    <h2 class="count-number">
                                        <span class="number count" data-count="360">360</span>
                                        <span class="symbol">+</span>
                                    </h2>
                                    <span class="counter-title">Projects delivered so far</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=      About  Quality Area Start    =-->
        <!--=====================================-->
        <section class="section section-padding bg-color-dark pb--80 pb_lg--40 pb_md--20">
            <div class="container">
                <div class="section-heading heading-light-left mb--100">
                    <span class="subtitle">Our Values</span>
                    <h2 class="title">Custom-Crafted Technology Solutions
                    </h2>
                    <p class="opacity-50">Your unique challenges require bespoke solutions. We delve into the specifics of your business to build technology solutions that are not just effective but are a perfect fit for your needs.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="about-quality active">
                            <h3 class="sl-number">1</h3>
                            <h5 class="title">Personalized Solutions Tailored to Your Needs</h5>
                            <p>We go beyond one-size-fits-all solutions, offering customization that reflects your unique brand identity and meets your specific business goals.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about-quality">
                            <h3 class="sl-number">2</h3>
                            <h5 class="title">Cutting-Edge Technology and Innovation</h5>
                            <p>Harnessing the latest technology, we craft digital experiences that are innovative, efficient, and ahead of the curve.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about-quality">
                            <h3 class="sl-number">3</h3>
                            <h5 class="title">Exceptional Quality with Attention to Detail</h5>
                            <p>Quality is our non-negotiable. We deliver top-tier, detail-oriented work that ensures your digital presence is second to none.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about-quality">
                            <h3 class="sl-number">4</h3>
                            <h5 class="title">Transparent Communication and Collaboration</h5>
                            <p>We keep the lines of communication open, fostering a transparent and collaborative process that turns visions into reality.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about-quality">
                            <h3 class="sl-number">5</h3>
                            <h5 class="title">Dedicated Support and Growth Partnership</h5>
                            <p>Our support continues well past launch. We're committed to your ongoing success, offering dedicated assistance to nurture your growth.</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <ul class="list-unstyled shape-group-10">
                <li class="shape shape-1"><img src="/assets/media/others/circle-1.png" alt="Circle"></li>
                <li class="shape shape-2"><img src="/assets/media/others/line-3.png" alt="Circle"></li>
                <li class="shape shape-3"><img src="/assets/media/others/bubble-5.png" alt="Circle"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=       About Team  Area Start      =-->
        <!--=====================================-->
        <section class="section-padding-equal">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7" data-sal="slide-right" data-sal-duration="800" data-sal-delay="100">
                        <div class="about-team">
                            <div class="thumbnail">
                                <img src="/assets/images/about1.webp" style="border-radius: 16px;" alt="thumbnail">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5" data-sal="slide-left" data-sal-duration="800" data-sal-delay="100">
                        <div class="about-team">
                            <div class="section-heading heading-left">
                                <span class="subtitle">Our Team</span>
                                <h2>Innovation Through Collaboration

                                </h2>
                                <p>Our strength lies in unity. At DavmoTech, each team member brings a world of creativity, driving innovation that powers the core of our tech solutions. It’s through collaborative spirits and collective expertise that we turn complex challenges into seamless experiences.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      <!--=====================================-->
        <!--=     Call To Action Area Start     =-->
        <!--=====================================-->
        
        <!--=====================================-->
        <!--=        Footer Area Start       	=-->
        <!--=====================================-->
        
        <%- include('footer') %>




        <!--=====================================-->
        <!--=       Offcanvas Menu Area       	=-->
        <!--=====================================-->
        <%- include('offcanvas') %>
    </div>

    <!-- Jquery Js -->
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/vendor/odometer.min.js"></script>
    <script src="/assets/js/vendor/jquery-appear.js"></script>
    <script src="/assets/js/vendor/slick.min.js"></script>
    <script src="/assets/js/vendor/sal.js"></script>
    <script src="/assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/vendor/js.cookie.js"></script>
    <script src="/assets/js/vendor/jquery.style.switcher.js"></script>
    <script src="/assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="/assets/js/vendor/tilt.js"></script>
    <script src="/assets/js/vendor/green-audio-player.min.js"></script>
    <script src="/assets/js/vendor/jquery.nav.js"></script>

    <!-- Site Scripts -->
    <script src="/assets/js/app.js"></script>
</body>

</html>