<footer class="footer-area">
  <div class="container">
      <div class="footer-top">
          <div class="footer-social-link">
              <ul class="list-unstyled" style="justify-content: center; gap: 10%;">
                  <li><a href="https://facebook.com/" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/" data-sal="slide-up" data-sal-duration="500" data-sal-delay="200"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.linkedin.com/" data-sal="slide-up" data-sal-duration="500" data-sal-delay="400"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="footer-main">
          <div class="row">
              <div class="col-xl-6 col-lg-5" data-sal="slide-right" data-sal-duration="800" data-sal-delay="100">
                  <div class="footer-widget border-end">
                      <div class="footer-newsletter">
                          <h2 class="title">Get in touch!</h2>
                          <p>Connect with us to explore how our solutions can help you overcome your challenges and achieve your goals. Our team is ready to assist you with any inquiries.</p>
                          <form>
                              <div class="input-group">
                                  <input type="email" class="form-control" placeholder="Email address">
                                  <button class="subscribe-btn" type="submit">Subscribe</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-7" data-sal="slide-left" data-sal-duration="800" data-sal-delay="100">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="footer-widget">
                              <h6 class="widget-title">Services</h6>
                              <div class="footer-menu-link">
                                  <ul class="list-unstyled">
                                    <li><a href="/services/custom-software-development">Custom Software Development</a></li>
                                    <li><a href="/services/web-application-development">Web Application Development</a></li>
                                    <li><a href="/services/mobile-app-development">Mobile App Development</a></li>
                                    <li><a href="/services/ui-ux-design">UI/UX Design</a></li>
                                </ul>
                              </div>
                          </div>
                      </div>
                      
                      <div class="col-sm-3">
                          <div class="footer-widget">
                              <h6 class="widget-title">Links</h6>
                              <div class="footer-menu-link">
                                  <ul class="list-unstyled">
                                    <!-- <li><a href="blog.html">Blog</a></li> -->
                                      <li><a href="/about">About</a></li>
                                      <li><a href="/portfolio">Portfolio</a></li>
                                      <li><a href="/contact">Contact</a></li>
                                      <li><a href="/terms">Terms of use</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-bottom" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100">
          <div class="row">
              <div class="col-md-6">
                  <div class="footer-copyright">
                      <span class="copyright-text">© <script>document.write(/\d{4}/.exec(Date())[0])</script>. All rights reserved by Davmotech</a>.</span>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="footer-bottom-link">
                      <ul class="list-unstyled">
                          <!-- <li><a href="privacy-policy.html">Privacy Policy</a></li> -->
                          <li><a href="/terms">Terms of Use</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>