<header class="header axil-header header-style-2">
  <div id="axil-sticky-placeholder"></div>
  <div class="axil-mainmenu">
      <div class="container-fluid">
          <div class="header-navbar">
              <div class="header-logo">
                  <a href="/"><img class="light-version-logo" style="max-width: 65%;" src="/assets/images/logo-light.png" alt="logo"></a>
                  <a href="/"><img class="dark-version-logo" style="max-width: 65%;" src="/assets/images/logo-dark.png" alt="logo"></a>
              </div>
              <div class="header-main-nav">
                  <!-- Start Mainmanu Nav -->
                  <nav class="mainmenu-nav" id="mobilemenu-popup">
                      <div class="d-block d-lg-none">
                          <div class="mobile-nav-header">
                              <div class="mobile-nav-logo">
                                  <a href="/">
                                      <img class="light-mode" style="max-width: 65%;" src="/assets/images/logo-light.png" alt="Site Logo">
                                      <img class="dark-mode" style="max-width: 65%;" src="/assets/images/logo-dark.png" alt="Site Logo">
                                  </a>
                              </div>
                              <button class="mobile-menu-close" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
                          </div>
                      </div>
                      <ul class="mainmenu">
                         
                          <li><a href="/">Home</a></li>
                          <li><a href="/about">About</a></li>
                          <!-- <li><a href="/services">Services</a></li> -->
                          <li class="menu-item-has-children">
                            <a href="/services">Services<span class="submenu-toggle-btn"></span></a>
                            <ul class="axil-submenu">
                                <li><a href="/services/custom-software-development">Custom Software Development</a></li>
                                <li><a href="/services/web-application-development">Web Application Development</a></li>
                                <li><a href="/services/mobile-app-development">Mobile App Development</a></li>
                                <li><a href="/services/web-portal-development">Web Portal Development</a></li>
                                <li><a href="/services/e-commerce-solutions">E-Commerce Solutions</a></li>
                                <li><a href="/services/staff-augmentation">Staff Augmentation</a></li>
                                <li><a href="/services/ui-ux-design">UI/UX Design</a></li>
                                <!-- <li><a href="/services/web-accessibility">Web Accessibility</a></li> -->
                            </ul>
                            
                        </li>
                        
                          <li><a href="/portfolio">Portfolio</a></li>
                          <!-- <li><a href="/blog">Blog</a></li> -->
                          <li><a href="/contact">Contact</a></li>
                      </ul>
                  </nav>
                  <!-- End Mainmanu Nav -->
              </div>
              <div class="header-action">
                  <ul class="list-unstyled">
                      <li class="sidemenu-btn d-lg-block d-none">
                          <button class="btn-wrap btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenuRight">
                              <span></span>
                              <span></span>
                              <span></span>
                          </button>
                      </li>
                      <li class="mobile-menu-btn sidemenu-btn d-lg-none d-block">
                          <button class="btn-wrap btn-dark" data-bs-toggle="offcanvas" data-bs-target="#mobilemenu-popup">
                              <span></span>
                              <span></span>
                              <span></span>
                          </button>
                      </li>
                      <li class="my_switcher d-block d-lg-none">
                          <ul>
                              <li title="Light Mode">
                                  <a href="javascript:void(0)" class="setColor light" data-theme="light">
                                      <i class="fal fa-lightbulb-on"></i>
                                  </a>
                              </li>
                              <li title="Dark Mode">
                                  <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
                                      <i class="fas fa-moon"></i>
                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</header>