<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/vendor/green-audio-player.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/odometer-theme-default.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="/assets/css/app.css">

</head>

<body class="sticky-header">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->
    <a href="#main-wrapper" id="backto-top" class="back-to-top">
        <i class="far fa-angle-double-up"></i>
    </a>

    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->

    <div class="my_switcher d-none d-lg-block">
        <ul>
            <li title="Light Mode">
                <a href="javascript:void(0)" class="setColor light" data-theme="light">
                    <i class="fal fa-lightbulb-on"></i>
                </a>
            </li>
            <li title="Dark Mode">
                <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
                    <i class="fas fa-moon"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id="main-wrapper" class="main-wrapper">

        <!--=====================================-->
        <!--=        Header Area Start       	=-->
        <!--=====================================-->
        <%- include('header') %>
        <!--=====================================-->
        <!--=        Banner Area Start         =-->
        <!--=====================================-->
        <section class="banner banner-style-2">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="100">
                            <h1 class="title">Imagine. Innovate. Implement.</h1>
                            <a href="/services" class="axil-btn btn-fill-white btn-large">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled shape-group-18">
                <li class="shape shape-1" data-sal="slide-left" data-sal-duration="1000" data-sal-delay="100"><img src="/assets/media/banner/banner-shape-1.png" alt="Shape"></li>
                <li class="shape shape-2" data-sal="slide-right" data-sal-duration="1000" data-sal-delay="100"><img src="/assets/media/banner/banner-shape-2.png" alt="Shape"></li>
                <li class="shape shape-3" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img src="/assets/media/others/bubble-16.png" alt="Shape"></li>
                <li class="shape shape-4" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img src="/assets/media/others/bubble-15.png" alt="Shape"></li>
                <li class="shape shape-5" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img src="/assets/media/others/bubble-14.png" alt="Shape"></li>
                <li class="shape shape-6" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img src="/assets/media/others/bubble-16.png" alt="Shape"></li>
                <li class="shape shape-7" data-sal="slide-down" data-sal-duration="500" data-sal-delay="600"><img src="/assets/media/others/bubble-26.png" alt="Shape"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Service Area Start         =-->
        <!--=====================================-->
        <section class="section section-padding">
            <div class="container">
                <div class="section-heading heading-left mb--20 mb_md--70">
                    <span class="subtitle">What We Can Do For You</span>
                    <h2 class="title">Services we can <br> help you with</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 mt--200 mt_md--0" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100">
                        <div class="services-grid service-style-2">
                            <div class="thumbnail">
                                <img src="/assets/media/icon/icon-1.png" alt="icon">
                            </div>
                            <div class="content">
                                <h5 class="title"> <a href="/services">Design</a></h5>
                                <p>Transforming concepts into visual realities, our design team crafts interfaces that are both aesthetically pleasing and highly functional.</p>
                                <a href="/services" class="more-btn">Find out more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt--100 mt_md--0" data-sal="slide-up" data-sal-duration="800" data-sal-delay="200">
                        <div class="services-grid service-style-2 active">
                            <div class="thumbnail">
                                <img src="/assets/media/icon/icon-2.png" alt="icon">
                            </div>
                            <div class="content">
                                <h5 class="title"> <a href="/services">Development</a></h5>
                                <p>Our developers build robust, scalable applications using the latest technologies to deliver innovation and efficiency.</p>
                                <a href="/services" class="more-btn">Find out more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal="slide-up" data-sal-duration="800" data-sal-delay="300">
                        <div class="services-grid service-style-2">
                            <div class="thumbnail">
                                <img src="/assets/media/icon/icon-6.png" alt="icon">
                            </div>
                            <div class="content">
                                <h5 class="title"> <a href="/services">Content Strategy</a></h5>
                                <p>Our content strategies elevate your brand's voice, engaging your audience through compelling storytelling and targeted messaging.</p>
                                <a href="/services" class="more-btn">Find out more</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <ul class="shape-group-7 list-unstyled">
                <li class="shape shape-1"><img src="/assets/media/others/circle-2.png" alt="circle"></li>
                <li class="shape shape-2"><img src="/assets/media/others/bubble-2.png" alt="Line"></li>
                <li class="shape shape-3"><img src="/assets/media/others/bubble-1.png" alt="Line"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Project Area Start         =-->
        <!--=====================================-->
        <section class="section section-padding-2 bg-color-light">
            <div class="container">
                <div class="section-heading heading-left">
                    <span class="subtitle">Our Projects</span>
                    <h2 class="title">Some of our <br> finest work.</h2>
                </div>
                <div class="axil-isotope-wrapper">
                    <div class="isotope-button isotope-project-btn">
                        <button data-filter="*" class="is-checked"><span class="filter-text">All Works</span></button>
                        <button data-filter=".websites"><span class="filter-text">Websites</span></button>
                        <button data-filter=".apps"><span class="filter-text">Apps</span></button>
                        <button data-filter=".others"><span class="filter-text">Others</span></button>
                    </div>
                    <div class="row row-35 isotope-list">
                        <div class="col-md-6 project apps">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/userupload/10955497/file/original-2dd472378abfc6be3e3ed88edbe99367.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Healthy Me</a></h4>
                                    <span class="subtitle">Branding, App</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 project apps">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/userupload/2857166/file/original-1c165648debff16ab78ea122a2250fe3.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Deel App</a></h4>
                                    <span class="subtitle">Logo, Website & Mobile App</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 project websites">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/users/1408866/screenshots/15553795/media/665e61aeaefedee62e31f84f828e24ec.jpg" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Stegers</a></h4>
                                    <span class="subtitle">Website, UI/UX</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 project apps">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/userupload/13972665/file/original-d1b61838eb2d1ea5fd81595bee12ca1f.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Hidden Roads</a></h4>
                                    <span class="subtitle">Branding, Website, App</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 project websites">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/userupload/13959994/file/original-e00d3013f87fa6d99cf20cfb01f5b65c.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Froyoo</a></h4>
                                    <span class="subtitle">Website, UI/UX</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 project others">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/userupload/11637839/file/original-14eead1bbcd2515281617bdf235805c5.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Alligator Logo</a></h4>
                                    <span class="subtitle">Logo, Branding</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 project others">
                          <div class="project-grid">
                              <div class="thumbnail">
                                  <a href="/services">
                                      <img src="https://cdn.dribbble.com/userupload/6894588/file/original-cedb328218d90785b8377ef71e62afa6.jpg" alt="project">
                                  </a>
                              </div>
                              <div class="content">
                                  <h4 class="title"><a href="/services">Magoz Logo</a></h4>
                                  <span class="subtitle">Logo, Branding</span>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group-7 list-unstyled">
                <li class="shape shape-1"><img src="/assets/media/others/circle-2.png" alt="circle"></li>
                <li class="shape shape-2"><img src="/assets/media/others/bubble-2.png" alt="Line"></li>
                <li class="shape shape-3"><img src="/assets/media/others/bubble-1.png" alt="Line"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Counter Up Area Start      =-->
        <!--=====================================-->
        <section class="section section-padding bg-color-dark">
            <div class="container">
                <div class="section-heading heading-light">
                    <span class="subtitle">Featured Case Study</span>
                    <h2 class="title">Our Track Record Speaks for Itself
                    </h2>
                    <p>Years of dedication to delivering technological excellence and client satisfaction.</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100">
                        <div class="counterup-progress active">
                            <div class="icon">
                                <img src="/assets/media/icon/icon-7.png" alt="Clients">
                            </div>
                            <div class="count-number h2">
                                <span class="number count" data-count="100">100</span>
                                <span class="symbol">+</span>
                            </div>
                            <h6 class="title">Happy Clients</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="800" data-sal-delay="200">
                        <div class="counterup-progress">
                            <div class="icon">
                                <img src="/assets/media/icon/icon-8.png" alt="Projects">
                            </div>
                            <div class="count-number h2">
                                <span class="number count" data-count="360">360</span>
                                <span class="symbol">+</span>
                            </div>
                            <h6 class="title">Projects deliverd</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="800" data-sal-delay="300">
                        <div class="counterup-progress">
                            <div class="icon">
                                <img src="/assets/media/icon/icon-9.png" alt="Specialist">
                            </div>
                            <div class="count-number h2">
                                <span class="number count" data-count="60">60</span>
                                <span class="symbol">+</span>
                            </div>
                            <h6 class="title">Specialist</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="800" data-sal-delay="300">
                        <div class="counterup-progress">
                            <div class="icon">
                                <img src="/assets/media/icon/icon-exp.png" alt="Years of experience">
                            </div>
                            <div class="count-number h2">
                                <span class="number count" data-count="10">10</span>
                                <span class="symbol">+</span>
                            </div>
                            <h6 class="title">Years of operation</h6>
                        </div>
                    </div>
                  
                </div>
            </div>
            <ul class="list-unstyled shape-group-10">
                <!-- <li class="shape shape-1"><img src="/assets/media/others/line-9.png" alt="Circle"></li> -->
                <li class="shape shape-2"><img src="/assets/media/others/bubble-42.png" alt="Circle"></li>
                <li class="shape shape-3"><img src="/assets/media/others/bubble-43.png" alt="Circle"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Testimonial Area Start      =-->
        <!--=====================================-->
        <section class="section section-padding">
            <div class="container">
                <div class="section-heading heading-left">
                    <span class="subtitle">Testimonial</span>
                    <h2 class="title">Success Stories Straight from the Source</h2>
                    <p>Discover the success stories that define us. Every project we undertake is a journey toward innovation and excellence, delivered through the eyes of our valued clients.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="100">
                        <div class="testimonial-grid active">
                            <span class="social-media"><img src="/assets/media/icon/google-2.png" alt="Google"></span>
                            <p>“ Exceptional service and innovative solutions. Our collaboration with the team has significantly improved our business processes. ”</p>
                            <div class="author-info">
                                <div class="thumb">
                                    <img src="/assets/media/testimonial/testimonial-1.png" alt="Google Review">
                                </div>
                                <div class="content">
                                    <span class="name">Eleanor Pena</span>
                                    <span class="designation">Chief Technology Officer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="200">
                        <div class="testimonial-grid">
                            <span class="social-media"><img src="/assets/media/icon/google-2.png" alt="Google"></span>
                            <p>“ The creativity and attention to detail in their work have surpassed all expectations. A true partner in our digital transformation journey. ”</p>
                            <div class="author-info">
                                <div class="thumb">
                                    <img src="/assets/media/testimonial/testimonial-2.png" alt="Google Review">
                                </div>
                                <div class="content">
                                    <span class="name">Oliver Grant</span>
                                    <span class="designation">Senior Vice President</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="300">
                        <div class="testimonial-grid">
                            <span class="social-media"><img src="/assets/media/icon/google-2.png" alt="Google"></span>
                            <p>“ Their team provided outstanding technical expertise and support throughout our project. Highly recommend for any complex IT solutions. ”</p>
                            <div class="author-info">
                                <div class="thumb">
                                    <img src="/assets/media/testimonial/testimonial-3.png" alt="Google Review">
                                </div>
                                <div class="content">
                                    <span class="name">Isabella Curtis</span>
                                    <span class="designation">Global Head of Operations</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <ul class="shape-group-4 list-unstyled">
                <li class="shape-1"><img src="/assets/media/others/bubble-1.png" alt="Bubble"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Brand Area Start       	=-->
        <!--=====================================-->
        <section class="section section-padding bg-color-dark">
            <div class="container">
                <div class="section-heading heading-light-left">
                    <span class="subtitle">Top Clients</span>
                    <h2 class="title">We’ve built solutions for...</h2>
                    <p>From elegant design frameworks to advanced digital solutions, we empower your business with seamless, scalable technology.</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500">
                        <div class="brand-grid active">
                            <img src="/assets/media/brand/brand-1.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100">
                        <div class="brand-grid">
                            <img src="/assets/media/brand/brand-2.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="200">
                        <div class="brand-grid">
                            <img src="/assets/media/brand/brand-3.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300">
                        <div class="brand-grid">
                            <img src="/assets/media/brand/brand-4.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="400">
                        <div class="brand-grid">
                            <img src="/assets/media/brand/brand-5.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="500">
                        <div class="brand-grid">
                            <img src="/assets/media/brand/brand-6.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="600">
                        <div class="brand-grid">
                            <img src="/assets/media/brand/brand-7.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="700">
                        <div class="brand-grid">
                            <img src="/assets/media/brand/brand-8.png" alt="Brand">
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled shape-group-10">
                <li class="shape shape-1"><img src="/assets/media/others/line-9.png" alt="Circle"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Blog Area Start       	    =-->
        <!--=====================================-->
       
        <!--=====================================-->
        <!--=     Call To Action Area Start     =-->
        <!--=====================================-->
        <section class="section call-to-action-area">
            <div class="container">
                <div class="call-to-action">
                    <div class="section-heading heading-light">
                        <span class="subtitle">Let's Work Together</span>
                        <h2 class="title">Need a successful project?</h2>
                        <a href="/contact" class="axil-btn btn-large btn-fill-white">Estimate Project</a>
                    </div>
                    <div class="thumbnail">
                        <div class="larg-thumb" data-sal="zoom-in" data-sal-duration="600" data-sal-delay="100">
                            <img class="paralax-image" src="/assets/media/others/chat-group.png" alt="Chat">
                        </div>
                        <ul class="list-unstyled small-thumb">
                            <li class="shape shape-1" data-sal="slide-right" data-sal-duration="800" data-sal-delay="400">
                                <img class="paralax-image" src="/assets/media/others/laptop-poses.png" alt="Laptop">
                            </li>
                            <li class="shape shape-2" data-sal="slide-left" data-sal-duration="800" data-sal-delay="300">
                                <img class="paralax-image" src="/assets/media/others/bill-pay.png" alt="Bill">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled shape-group-9">
                <li class="shape shape-1"><img src="/assets/media/others/bubble-12.png" alt="Comments"></li>
                <li class="shape shape-2"><img src="/assets/media/others/bubble-16.png" alt="Comments"></li>
                <li class="shape shape-3"><img src="/assets/media/others/bubble-13.png" alt="Comments"></li>
                <li class="shape shape-4"><img src="/assets/media/others/bubble-14.png" alt="Comments"></li>
                <li class="shape shape-5"><img src="/assets/media/others/bubble-16.png" alt="Comments"></li>
                <li class="shape shape-6"><img src="/assets/media/others/bubble-15.png" alt="Comments"></li>
                <li class="shape shape-7"><img src="/assets/media/others/bubble-16.png" alt="Comments"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Footer Area Start       	=-->
        <!--=====================================-->
        <%- include('footer') %>




        <!--=====================================-->
        <!--=       Offcanvas Menu Area       	=-->
        <!--=====================================-->
        <%- include('offcanvas') %>
    </div>

    <!-- Jquery Js -->
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/vendor/odometer.min.js"></script>
    <script src="/assets/js/vendor/jquery-appear.js"></script>
    <script src="/assets/js/vendor/slick.min.js"></script>
    <script src="/assets/js/vendor/sal.js"></script>
    <script src="/assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/vendor/js.cookie.js"></script>
    <script src="/assets/js/vendor/jquery.style.switcher.js"></script>
    <script src="/assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="/assets/js/vendor/tilt.js"></script>
    <script src="/assets/js/vendor/green-audio-player.min.js"></script>
    <script src="/assets/js/vendor/jquery.nav.js"></script>

    <!-- Site Scripts -->
    <script src="/assets/js/app.js"></script>
</body>

</html>