<div class="offcanvas offcanvas-end header-offcanvasmenu" tabindex="-1" id="offcanvasMenuRight">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        
        <div class="row ">
            <div class="col-lg-5 col-xl-6">
                <ul class="main-navigation list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-7 col-xl-6">
                <div class="contact-info-wrap">
                    <div class="contact-inner">
                        <address class="address">
                            <span class="title">Contact Information</span>
                            <p>#4/55, 3rd Floor ,Moti Nagar <br> Delhi</p>
                        </address>
                        <address class="address">
                            <span class="title">We're Available 24/7. Call Now.</span>
                            <a class="tel" href="tel:9891541985"><i class="fas fa-phone"></i>+91 9891541985</a>
                            <a class="tel" href="tel:9811468729"><i class="fas fa-fax"></i>+91 9811468729</a>
                        </address>
                    </div>
                    <div class="contact-inner">
                        <h5 class="title">Find us here</h5>
                        <div class="contact-social-share">
                            <ul class="social-share list-unstyled">
                                <li><a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>