<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/vendor/sal.css">
    <link rel="stylesheet" href="assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/vendor/green-audio-player.min.css">
    <link rel="stylesheet" href="assets/css/vendor/odometer-theme-default.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css">

</head>

<body class="sticky-header">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->
    <a href="#main-wrapper" id="backto-top" class="back-to-top">
        <i class="far fa-angle-double-up"></i>
    </a>

    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->

    <div class="my_switcher d-none d-lg-block">
        <ul>
            <li title="Light Mode">
                <a href="javascript:void(0)" class="setColor light" data-theme="light">
                    <i class="fal fa-lightbulb-on"></i>
                </a>
            </li>
            <li title="Dark Mode">
                <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
                    <i class="fas fa-moon"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id="main-wrapper" class="main-wrapper">

        <!--=====================================-->
        <!--=        Header Area Start       	=-->
        <!--=====================================-->
        <%- include('header') %>
        <!--=====================================-->
        <!--=       Breadcrumb Area Start       =-->
        <!--=====================================-->
        <div class="breadcrum-area breadcrumb-banner">
            <div class="container">
                <div class="section-heading heading-left" data-sal="slide-right" data-sal-duration="1000" data-sal-delay="300">
                    <h1 class="title h2">Our projects</h1>
                    <p>Explore our portfolio of targeted solutions crafted by our <br> expert team.</p>
                </div>
                <div class="banner-thumbnail" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="400">
                    <img class="paralax-image" src="assets/media/banner/banner-thumb-1.png" alt="Illustration">
                </div>
            </div>
            <ul class="shape-group-8 list-unstyled">
                <li class="shape shape-1" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100">
                    <img src="assets/media/others/bubble-9.png" alt="Bubble">
                </li>
                <li class="shape shape-2" data-sal="slide-left" data-sal-duration="500" data-sal-delay="200">
                    <img src="assets/media/others/bubble-20.png" alt="Bubble">
                </li>
                <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300">
                    <img src="assets/media/others/line-4.png" alt="Line">
                </li>
            </ul>
        </div>
        <!--=====================================-->
        <!--=       Projects  Area Start        =-->
        <!--=====================================-->
        <section class="section section-padding-equal pt--200 pt_md--80 pt_sm--60">
            <div class="container">
                <div class="section-heading heading-left">
                    <span class="subtitle">Our Project</span>
                    <h2 class="title">Some of our finest <br> work.</h2>
                </div>
                <div class="axil-isotope-wrapper">
                    <div class="isotope-button isotope-project-btn">
                        <button data-filter="*" class="is-checked"><span class="filter-text">All Works</span></button>
                        <button data-filter=".websites"><span class="filter-text">Websites</span></button>
                        <button data-filter=".apps"><span class="filter-text">Apps</span></button>
                        <button data-filter=".others"><span class="filter-text">Others</span></button>
                    </div>
                    <div class="row isotope-list">
                        <div class="col-xl-4 col-md-6 project apps">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/userupload/10955497/file/original-2dd472378abfc6be3e3ed88edbe99367.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Healthy Me</a></h4>
                                    <span class="subtitle">Branding, App</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 project apps">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/userupload/2857166/file/original-1c165648debff16ab78ea122a2250fe3.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Deel App</a></h4>
                                    <span class="subtitle">Logo, Website & Mobile App</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 project websites">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/users/1408866/screenshots/15553795/media/665e61aeaefedee62e31f84f828e24ec.jpg" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Stegers</a></h4>
                                    <span class="subtitle">Website, UI/UX</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 project apps">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/userupload/13972665/file/original-d1b61838eb2d1ea5fd81595bee12ca1f.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Hidden Roads</a></h4>
                                    <span class="subtitle">Branding, Website, App</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 project websites">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/userupload/13959994/file/original-e00d3013f87fa6d99cf20cfb01f5b65c.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Froyoo</a></h4>
                                    <span class="subtitle">Website, UI/UX</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 project others">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="/services">
                                        <img src="https://cdn.dribbble.com/userupload/11637839/file/original-14eead1bbcd2515281617bdf235805c5.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="/services">Alligator Logo</a></h4>
                                    <span class="subtitle">Logo, Branding</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 project others">
                          <div class="project-grid">
                              <div class="thumbnail">
                                  <a href="/services">
                                      <img src="https://cdn.dribbble.com/userupload/6894588/file/original-cedb328218d90785b8377ef71e62afa6.jpg" alt="project">
                                  </a>
                              </div>
                              <div class="content">
                                  <h4 class="title"><a href="/services">Magoz Logo</a></h4>
                                  <span class="subtitle">Logo, Branding</span>
                              </div>
                          </div>
                      </div>
                    </div>
                    
                </div>
            </div>
            <ul class="shape-group-7 list-unstyled">
                <li class="shape shape-1"><img src="assets/media/others/circle-2.png" alt="circle"></li>
                <li class="shape shape-2"><img src="assets/media/others/bubble-2.png" alt="Line"></li>
                <li class="shape shape-3"><img src="assets/media/others/bubble-1.png" alt="Line"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=     Call To Action Area Start     =-->
        <!--=====================================-->
       
        <!--=====================================-->
        <!--=        Footer Area Start       	=-->
        <!--=====================================-->
        <%- include('footer') %>




        <!--=====================================-->
        <!--=       Offcanvas Menu Area       	=-->
        <!--=====================================-->
        <%- include('offcanvas') %>
    </div>

    <!-- Jquery Js -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/vendor/odometer.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/sal.js"></script>
    <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendor/js.cookie.js"></script>
    <script src="assets/js/vendor/jquery.style.switcher.js"></script>
    <script src="assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="assets/js/vendor/tilt.js"></script>
    <script src="assets/js/vendor/green-audio-player.min.js"></script>
    <script src="assets/js/vendor/jquery.nav.js"></script>

    <!-- Site Scripts -->
    <script src="assets/js/app.js"></script>
</body>

</html>